
.header-root {
    margin-right:  10%;
    margin-left: 10%;
    background-color: #262626;
} 

.logo {
    float: left;
    margin-right: 20px;
}

.ant-menu{
    background: #2c2c2e;
    border-bottom: 0px !important;
    border-bottom-style: none !important;
}

.ant-menu-item-selected {
    border-bottom: 0px !important;
    border-bottom-style: none !important;
}

.inner{
    height: 50px;
    background: #2c2c2e;
}

.ant-menu-horizontal > .ant-menu-item-active {
    border-bottom: 0px solid #2c2c2e !important;
    border-bottom-style: none !important;
}

.ant-menu-horizontal > .ant-menu-item:hover {
    color: #2c2c2e !important;;
    border-bottom: 0px solid #2c2c2e !important;
    border-bottom-style: none !important;
}



/* .ant-menu-item-selected {
    border-bottom: 0px
} */


